.input-wrapper {
  margin: 8px auto;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

input {
  width: 245px;
  height: 45px;
  border-radius: 8px;
  padding: 0 10px;
  box-sizing: border-box;
}

.purple {
  border: 1px solid #7763c5;
}
