#bloc-form{
    width: auto; 
    margin: 20px auto; 
    //padding: 20px;
   
}

input {
    display: block; 
  //margin: 0 auto;
  width: 245px;
  height: 45px;
  //border: 1px solid black;
  border-radius: 8px;
  //background-color: red;
}
//css de new article
.purple{

 border: 1px solid #7763C5;
  }
