button{
   // display: inline-block;        
    //padding: 8px 16px;   
    width: 125px; 
    height: 40px;       
    border: none;          ;   
    border-radius: 8px;          
    font-size: 16px; 
    font-weight: bold;            
    //font-family: sans-serif;     
    cursor: pointer;             
    text-decoration: none;       
    margin-right: 8px;  
}
button:hover{
    text-decoration: underline;
}
.purple{
    background-color: #7763c5;
    color: #ffffff;
    width: 153px ;
}
.white{
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;  
}
