
form {
  display: flex;
  flex-direction: column;
  //gap: 15px;
  max-width: 300px;
  margin: auto;
}




#flecheGauche {
  z-index: 3;
  position: absolute;
  width: 39px;
  height: 39px;
  padding-left: 50px;
}

#title {
  margin: 50px;

  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
}
#button {
  display: flex;
  align-items: center;
  justify-content: center;
}
