form {
  display: flex;
  flex-direction: column;
  max-width: 255px;
  margin: auto;
}

#title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#containerArrow_back {
  position: absolute;
  left: 0;
}

.arrow_back {
  font-size: 39px;
  cursor: pointer;
}

#title {
  margin: 50px 0;
  font-size: 24px;
  text-align: center;
  height: 44px;
}

#button {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  #title {
    margin: 0;
  }

  #containerArrow_back {
    top: -50px;
  }
}
