<!DOCTYPE html>
<app-header></app-header>

<div class="comment-header">
    <span class="material-icons arrow_back" [routerLink]="'/articles'">arrow_back</span>
    <div class="article-title">{{ articleSelected?.title }}</div>
</div>

<div class="article-info">
    <div>{{ articleSelected?.created_date | date: 'dd/MM/yyyy' }}</div>
    <div>{{ getArticleAuthorName() }}</div>
    <div>{{ getThemeName(articleSelected?.theme_id) }}</div>
</div>

<div class="article-content">{{ articleSelected?.description }}</div>

<h3>Commentaires</h3>

<ul *ngIf="comments.length > 0">
    <li *ngFor="let comment of comments">
        <strong>{{ getUserName(comment.auteur_id) }}</strong> : {{ comment.commentary }}
    </li>
</ul>

<div class="comment-form">
    <input [(ngModel)]="newComment" placeholder="Écrire un commentaire..." />
    <span class="material-icons send" (click)="sendComment()">send</span>
</div>

<p *ngIf="message" [ngClass]="{ success: isSuccess, error: !isSuccess }">{{ message }}</p>