<!DOCTYPE html>
<app-header></app-header>
<div id="containerBloc">
    <div id="blocButton" [routerLink]="'/newArticle'">
        <app-button  action="Créer un article"></app-button>
    <div id="blocTrie">Trier par
      <span class="material-icons arrow_downward ">
        arrow_downward
        </span>
    </div>
    </div>
    <div id="blocArticles">
      <app-article
      *ngFor="let article of articles"
      [article]="article" [users]="users">
    </app-article>
  </div>
      
      
      
</div>