<!DOCTYPE html>
<app-header></app-header>

<div class="containerArticles">
  <div class="toolbar">
    <div class="button-wrapper" [routerLink]="'/newArticle'">
      <app-button action="Créer un article"></app-button>
    </div>

    <div class="sort-toggle" (click)="toggleSortOrder()">
      Trier par
      <span class="material-icons">
        {{ sortDescending ? 'arrow_downward' : 'arrow_upward' }}
      </span>
    </div>
  </div>

  <div class="articles-grid">
    <app-article *ngFor="let article of articles" [article]="article" [users]="users"></app-article>
  </div>
</div>