select {
    width: 249px;
    height: 45px;              /* S’adapte à la largeur de son conteneur */
    padding: 0.75rem;           /* Espace interne pour aérer le texte */
    font-size: 14px;            /* Taille du texte */
    border: 1px solid #7763c5;  /* Bordure violette, ajuster la couleur si besoin */
    border-radius: 8px;         /* Coins arrondis */
    outline: none;              /* Supprime le contour bleu par défaut au focus */
    background-color: #fff;     /* Fond blanc */
    color: #757474;                /* Couleur de texte */
    appearance: none;           /* Supprime l’icône native du sélect (selon le navigateur) */
  }
  
 