select {
    width: 249px;
    height: 45px;              
    padding: 0.75rem;           
    font-size: 14px;            
    border: 1px solid #7763c5;  
    border-radius: 8px;         
    outline: none;              
    background-color: #fff;    
    color: #535151;                
    appearance: none; 
    margin: -8px;          
  }
  
 