<!DOCTYPE html>
<app-header></app-header>

<h2 class="profil">Profil utilisateur</h2>

<div id="containerUser">
  <form [formGroup]="articleForm" (ngSubmit)="updateUser()">
    <div id="containerupdate">
      <input placeholder="username" formControlName="username" />
      <input placeholder="email" formControlName="email" />
      <input placeholder="mot de passe" formControlName="password" type="password" />
      <div class="error"
        *ngIf="articleForm.get('password')?.errors?.['passwordInvalid'] && articleForm.get('password')?.touched">
        Le mot de passe doit contenir au moins 8 caractères, une majuscule, une minuscule, un chiffre et un caractère
        spécial.
      </div>
    </div>
    <app-button action="Sauvegarder"></app-button>
  </form>
</div>

<div class="profil">Abonnements</div>
<div id="containerTheme">
  <app-theme *ngFor="let theme of themes" [theme]="theme" context="me">
  </app-theme>

  <div *ngIf="!themes || themes.length === 0">
    Aucun abonnement trouvé.
  </div>
</div>