<!DOCTYPE html>
<app-header></app-header>


<div id="containerUser">
 <!--    <form>
   <app-form classInput="purple" classInput="purple" titleForm="Profil utilisateur" action="Sauvegarder" label="" [showBackArrow]="false" classInput="purple" ></app-form>
</form>-->
<form [formGroup]="articleForm" (ngSubmit)="updateUser()">
    <input placeholder="username" formControlName="username">
    <div class="mail session en cours">
       mail de l'user en cours : {{ userEmail }}
    </div>
    <input placeholder="mot de passe" formControlName="password" type="password">
    <button>sauvegarde</button>
</form>

<div id="deconnecter" (click)="onLogout()">Se déconnecter</div>
</div>
<div class="profil">Abonnements</div>
<div id="containerTheme">
   <app-theme
   *ngFor="let theme of themes"
   [theme]="theme"
   context="me">
 </app-theme>
   
    <div *ngIf="!themes || themes.length === 0">
      Aucun abonnement trouvé.
    </div>
</div>