<!DOCTYPE html>
<div id="title-container">
  <span *ngIf="showBackArrow" class="material-icons arrow_back" [routerLink]="'/home'">
    arrow_back
  </span>
  <div id="title">{{ titleForm }}</div>
</div>

<div id="blocForm">
  <form [formGroup]="subscriptionForm" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <label for="email">E-mail ou nom d'utilisateur :</label>
      <input id="email" formControlName="email" type="text" placeholder="E-mail ou username" />
    </div>

    <div class="form-field">
      <label for="password">Mot de passe :</label>
      <input id="password" formControlName="password" type="password" placeholder="Mot de passe" />
    </div>

    <app-button id="button" [action]="action" (buttonClick)="onSubmit()"></app-button>
  </form>
</div>