<!DOCTYPE html>
<div id="bloc_header">
  <img id="logo" src="/assets/logo_p6.png" alt="logo" />

  
  <div 
    id="container-liens"
    [class.show]="isMenuOpen"
  >
  
    <div class="menu-item">Articles</div>
    <div class="menu-item">Thèmes</div>
   
    <img class="icon icon-user" src="/assets/icon.jpg" alt="user icon" />
  </div>

  <!-- Icône burger (cliquable en mobile) -->
  <img 
    id="burger" 
    class="icon" 
    src="/assets/menu.png" 
    alt="burger icon"
    (click)="toggleMenu()"
  />
</div>

